[Desktop Entry]
Name=Naia
Comment=Personal AI avatar shell
Exec=/usr/bin/naia-shell %u
Icon=naia
Type=Application
Categories=Utility;
StartupWMClass=naia-shell
MimeType=x-scheme-handler/naia;
