/* Anaconda gtk style overrides for Naia */

/* vendor-specific colors */
@define-color fedora #51a2da;

/* logo and sidebar classes */

.logo-sidebar {
    background-image: url('/usr/share/anaconda/pixmaps/sidebar-bg.png');
    background-color: @fedora;
    background-repeat: no-repeat;
}

.logo {
    background-image: url('/usr/share/anaconda/pixmaps/sidebar-logo.png');
    background-position: 50% 20px;
    background-repeat: no-repeat;
    background-color: transparent;
}

.product-logo {
    background-image: none;
    background-color: transparent;
}

AnacondaSpokeWindow #nav-box {
    background-color: @fedora;
    background-image: url('/usr/share/anaconda/pixmaps/topbar-bg.png');
    background-repeat: repeat;
    color: white;
}
